body{
	background-color: #F8F8F8!important;
	background-image: url("https://images.unsplash.com/photo-1544716278-e513176f20b5?ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80");
	background-size: 1300px;
}
.jumbo{
	font-size: 10px;
	background-color: #f2f2f2;
}
table{
	width: 75%;
}
th{
	height:20px;
	text-align: left;
	padding: 10px;
}
td{
	height: 10px;
	text-align: left;
	padding: 10px;
}
th{
	background-color: #4caf50;
}
tr:nth-child(even){
	background-color: #f2f2f2;
}
#profile-pic{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-left:auto; 
	margin-right:auto;
}
#profile-wrapper{
	text-align: center;
	background-color: #E6E6FA;
}
ul{
	padding: 0;
	list-style-type: none;
}
.socialmedia ul,li{
	list-style-type: none;
	display: inline-block;
}
.social{
	width: 20px;
	height: 20px;
}