<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>BE Mark Details</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/mainapp/style.css" %}">
</head>
<body>
	<center><h2>Bachelor of Engineering</h2></center>
	<hr>
	<center><table>
		<tr>
			<td>Provession Certificate:</td><td><a href="https://drive.google.com/file/d/1e_XSGOkcHv0gmxsnF_hMlNI_pir5BP4P/view?usp=drivesdk">Click Here..</a></td>
		</tr>
		<tr>
			<td>Consoldate Certificate:</td> <td><a href="https://drive.google.com/file/d/1eOJG0ZPmDO0bbcDqNliqdkCyDHVfJRw1/view?usp=drivesdk">Click Here..</a></td>
		</tr>
		<tr>
			<td>Course Completion:</td> <td><a href="https://drive.google.com/file/d/1eRckxHlPPffXcbhz8b8dLRBINl2gVTRh/view?usp=drivesdk">Click Here..</a></td>
		</tr>
		<tr>
			<td>Transfer Certificate:</td> <td><a href="https://drive.google.com/file/d/1f87AglcJZTYLtsDYlw9XP-bREaanTp2e/view?usp=drivesdk">Click Here..</a></td>
		</tr>
	</table>
	<table>
		<th>Semester</th>
		<th>Link of SoftCopy</th>
		<tr>
			<td>Semester 1:</td><td><a href="https://drive.google.com/file/d/1eds84BqVKhSqwWhCey8XnQLPrrb9Z7s2/view?usp=drivesdk">Click Here..</a></td>
		</tr>
		<tr>
			<td>Semester 2:</td><td><a href="https://drive.google.com/file/d/1erz9di14s6-O-YYAcpXdMHGnifTqlwtu/view?usp=drivesdk">Click Here..</a></td>
		</tr>
		<tr>
			<td>Semester 3:</td><td><a href="https://drive.google.com/file/d/1exTQztYySoqa5VOy-XjMRY6w7qSk-gxD/view?usp=drivesdk">Click Here..</a></td>
		</tr>
		<tr>
			<td>Semester 4:</td><td><a href="https://drive.google.com/file/d/1f0lDpYEgV08I9bimZZgPc89zFub7f-pz/view?usp=drivesdk">Click Here..</a></td>
		</tr>
		<tr>
			<td>Semester 5:</td><td><a href="https://drive.google.com/file/d/1f2VPUuyjeTlFiDjE9MiCQLQxSykEpL_t/view?usp=drivesdk">Click Here..</a></td>
		</tr>
		<tr>
			<td>Semester 6:</td><td><a href="https://drive.google.com/file/d/1f2x_K1pB4puEZSJ_3KImJ2gF1-FvXa1C/view?usp=drivesdk">Click Here..</a></td>
		</tr>
		<tr>
			<td>Semester 7:</td><td><a href="https://drive.google.com/file/d/1f3oY4bgnxRzIJ7AujN36jKchDM2O1f8j/view?usp=drivesdk">Click Here..</a></td>
		</tr>
		<tr>
			<td>Semester 8:</td><td><a href="https://drive.google.com/file/d/1f6So_3XYlkmj2OXCI6byURlQrxkLlodM/view?usp=drivesdk">Click Here..</a></td>
		</tr>
	</table></center>
</body>
</html>