<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Personal Details Page</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/mainapp/style.css" %}">
</head>
<body>	
	<center><h1>Personal Details</h1></center>
	<hr>
	<center><table>
		<tr>
			<td>Father's Name:</td><td>Venkatesan.K</td>
		</tr>
		<tr>
			<td>Mothers's Name:</td><td>Syamala.V</td>
		</tr>
		<tr>
			<td>Address:</td><td>1/188,A,Chigaralapalli,Gudisadhanapalli(Post),Tamil Nadu=635105</td>
		</tr>
		<tr>
			<td>Ph.No: </td><td>+919585675873</td>
		</tr>
		<tr>
			<td>Email:</td><td>deveshvs33@gmail.com</td>
		</tr>
		<tr>
			<td>Blood Group:</td><td>O+ve</td>
		</tr>
	</table>
	<table>
		<th>Certificate Proofs	
		</th>
		<th>Link to See the Copy 		
		</th>
		<tr>
			<td>Adhar Card</td>
			<td><a href="https://drive.google.com/file/d/1fJuO4NSD_i_54Z5VHtKfp9rN8zk7Zbs3/view?usp=drivesdk"> Click here .. </a></td>
		</tr>
		<tr>
			<td>Pancard Card</td>
			<td><a href="https://drive.google.com/file/d/1fOlIc6aVxcTtxbRQOjHBvjeWAgJ4E_Xg/view?usp=drivesdk"> Click here .. </a></td>
		</tr>
		<tr>
			<td>Driving Licence</td>
			<td><a href=""> Click here .. </a></td>
		</tr>

	</table></center>
</body>
</html>